/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: black;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
img#mdCentro {
    position: absolute;
    top: 16.4%;
    left: 35.5%;
    width: 375px;
    height: 375px;
}
img#foto {
    position: absolute;
    top: 33.1%;
    left: 42.7%;
    border-radius: 100%;
    width: 190px;
    height: 190px;
}
label#edLabel {
    top: 25%;
    border-radius: 10px;
    border-color: white;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    
}
img#mdA {
    position: absolute;
    top: -5%;
    left: 5%;
    width: 400px;
    height: 400px;
    visibility: hidden;
}
img#mdB {
    position: absolute;
    top: -5%;
    left: 65%;
    width: 400px;
    height: 400px;
    visibility:hidden;
}
img#mdC {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 400px;
    height: 400px;
    visibility: hidden;
}
img#mdD {
    position: absolute;
    top: 35%;
    left: 65%;
    width: 400px;
    height: 400px;
    visibility: hidden;
}
div.img-mold {
    z-index: 0;
}
div.img-foto {
    z-index: 1;
}
div.img-md-conteudo {
    z-index: 1;
}