a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 10%;
  background-color: black;
}

.footer {
  position: absolute;
  top: 100%;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Imagem do centro*/
.img-moldura {
    position: absolute;
    top: 39.6%;
    left: 45.5%;
}

#mdCentro {
    width: 238px;
    height: 238px;
    border-radius: 50%;
}
.img-foto {
    position: absolute;
    top: 50%;
    left: 50%;
}
#foto {
    border-radius: 50%;
    width: 122px;
    height: 122px;
}

/*Imagem do centro fim*/

/*Textos e labels*/

.textos {
    color: white;
    font: bold 22px arial;
}

#nome {
    position: absolute;
    top: 42%;
    left: 39.5%;
}
#labelAa {
    position: absolute;
    top: 74%;
    left: 39.5%;
}

#habilidades {
    position: absolute;
    top: 25%;
    left: 10%;
}

#interesses {
    position: absolute;
    top: 5%;
    left: 50%;
}

#formacacao {
    position: absolute;
    top: 25%;
    left: 80%;
}

#idiomas {
    position: absolute;
    top: 75%;
    left: 10%;
}

#contato {
    position: absolute;
    top: 95%;
    left: 50%;
}

#experiencias {
    position: absolute;
    top: 75%;
    left: 80%;
}

.lista {
    color: orangered;
}

