@{
    ViewData["Title"] = "Home Page";
}

<div class="img-moldura">
    <img src="~/images/moldura centro.jpg" id="mdCentro" />
</div>

<div class="img-foto">
    <img src="~/images/índice.png" id="foto" />
</div>

<div id="nome">
<label  class="textos"> EVERSON DOS SANTOS DE MENEZES</label>
</div>

<div id="experiencias">
    <label class="textos"> Experiências</label>
</div>

<div id="habilidades">
    <label class="textos"> Habilidades</label>
</div>

<div id="contato">
    <label class="textos"> Contato</label>
</div>

<div id="formacacao">
    <label class="textos"> Formação</label>
</div>

<div id="idiomas">
    <label class="textos"> Idiomas</label>
</div>

<div id="interesses">
    <label class="textos" onmouseover="teste();"> Interesses</label>
    <ul class="lista">
        <li>
            m
        </li>

        <li>
            f
        </li>

        <li>
            v
        </li>

        <li>
            E
        </li>

    </ul>
</div>

<script>
    function teste() {
        alert("Passou o mouse")
    }
</script>






