@{
    ViewData["Title"] = "Home Page";
}

<div class="img-mold">
    <img src="~/images/moldura centro.jpg" id="mdCentro" />
</div>
<div class="img-foto">
    <img src="~/images/índice.png" id="foto" />
</div>